@charset "utf-8";
/* CSS Document */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: justify;
}

header {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header > a{
    font-size: 25px;
}

ul {
    list-style: none;
    display: flex;
    gap:10px;
}

h3 {
    text-align: center;
}

section {
    color: gray;
    display: flex;
    flex-wrap: wrap; 
    align-content: space-around;
    margin: 0 auto;
    max-width: 80%;
    flex-shrink: 0;
    align-content: flex-start;
}

article {
    height: auto;
    margin: 10px;
    text-align: center;
    flex-grow: 1; 
    flex: 1;
    max-width: 640px; 
    min-width: 298px;
    width: 100%;
}

img {
    max-width: 640px; 
    min-width: 298px;
    width: 100%;
}


@media (max-width: 670px){
    header a {
        font-size: 40px;
    }

    ul {
        flex-direction: column; 
    }

    li {
        background-color: grey;
    }

    li a{
        font-size: 20px;
    }

    h3{
        font-size: 32px;
    }

    section { 
        width: 90%;
        font-size: 25px;
    }
}